.back-btn {
  position: absolute;
  top: 25px;
  height: 20px;
  left: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #00ffb3;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.25s ease;
  z-index: 10;
}

.back-btn:hover {
  transform: translateX(-5px);
  color: #00c3ff;
}
